* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav */

nav ul {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

nav li {
  list-style: none;
  display: inline;
}

.navIcon:hover {
  color: grey;
}

/* Timer */

.timerButtonFlex {
  display: flex;
  flex-direction: row;
}

.controlButton {
  background-color: white;
  text-align: center;
  border: 1px solid grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 20px;
}

.buttons {
  text-align: center;
}

.numbers {
  margin: 20px;
  text-align: center;
}

/* Stats */

.statsWrapper {
  margin: 0 auto;
  text-align: center;
  border-radius: 10%;
  padding: 10px;
}

/* Activities */

.activityListWrapper {
  text-align: center;
  padding: 20px 10px 10px 10px;
}

.activityListWrapper h1 {
  text-align: left;
  margin-left: 15px;
}

.activityList {
  padding: 0;
}

.activityList li {
  list-style: none;
}

.activityBtn {
  all: unset;
  margin: 0px 5px 0px 5px;
  font-size: 1.4em;
}

.addActivityBtn {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 12px;
}

.addActivityBtn:focus {
  color: #171e29;
}

.addActivityBtnhover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.addActivityBtn:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.listItemDiv {
  padding: 15px;
  background-color: white;
  margin: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.listItemDiv > h3 {
  font-size: 1.1em;
  margin: 0px 10px 10px 15px;
  text-align: left;
  align-self: start;
  flex-grow: 1;
}

.activityBtn:last-of-type {
  margin: 0px 0px 25px 5px;
}

.addNewActivityModal h1 {
  margin-left: 15px;
  text-align: left;
}

/* Activity Modal */

.addNewActivityModal {
  padding: 20px;
}

.activityConfigModalWrapper {
  display: flex;
  flex-direction: column;
}

.addActivityForm {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 20px 0;
}

.addActivityForm > * {
  margin-top: 15px;
}

input {
  background-color: lightgrey;
  border-radius: 12px;
  margin-top: 5px;
  border: none;
  width: 60%;
  height: 35px;
}

.addActivityForm button {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
}

.exitBtn {
  align-self: end;
  margin-right: 5px;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  /* top: 20vh;
  left: 5%;
  width: 90%; */
  bottom: 1vh;
  left: 2.5%;
  width: 95%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal > * {
  display: inline;
}

.content {
  width: 100%;
}

.modalWrapper {
  height:50vh;
}

.editWrapper h1 {

}

.editForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
