* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}



/* Nav */

nav {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

.navIcon:hover {
  color: grey;
}

/* Timer */

.timerButtonFlex {
  display: flex;
  flex-direction: row;
}

button {
  background-color: white;
  text-align: center;
  border: 1px solid grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 20px;
}

.buttons {
  text-align: center;
}

.numbers {
  margin: 20px;
  text-align: center;
}

/* Stats */

.statsDiv {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    border-radius: 10%;
    width: 100px;
}

/* Activities */

.activityListWrapper {
text-align: center;
}

.activityList {
  padding: 0;

}

.activityList li {
  list-style: none;
}

.addActivityBtn {
  background-color: cadetblue;
  border-radius: 12px;
  width: 50%;
}

.listItemDiv {
  background-color: lightgrey;
  margin: 15px;
  border-radius: 12px;
}

h1 {
  margin-left: 15px;
  text-align: left;
}

/* Activity Modal */
