* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav */

nav {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  list-style: none;
  display: inline;
  margin-right: 50px;
}

.navIcon:hover {
  color: grey;
}

/* Timer */

.timerButtonFlex {
  display: flex;
  flex-direction: row;
}

.controlButton {
  background-color: white;
  text-align: center;
  border: 1px solid grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 20px;
}

.buttons {
  text-align: center;
}

.numbers {
  margin: 20px;
  text-align: center;
}

/* Stats */

.statsDiv {
  margin: 0 auto;
  text-align: center;
  background-color: lightgrey;
  border-radius: 10%;
  width: 100px;
}

/* Activities */

.activityListWrapper {
  text-align: center;
}

.activityList {
  padding: 0;
}

.activityList li {
  list-style: none;
}
.activityBtn {
  all: unset;
}

.addActivityBtn {
  background-color: cadetblue;
  border-radius: 12px;
  width: 50%;
}

.listItemDiv {
  background-color: lightgrey;
  margin: 15px;
  border-radius: 12px;
}

.addNewActivityModal h1 {
  margin-left: 15px;
  text-align: left;
}

/* Activity Modal */

.addNewActivityModal {
  padding: 20px;
}

.addActivityForm {
  background-color: lightgrey;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 20px 0;
}

.addActivityForm > * {
  margin-top: 15px;
}

input {
  border-radius: 12px;
  margin-top: 5px;
  border: none;
  width: 60%;
  height: 35px;
}

.addActivityForm button {
  background-color: black;
  color: white;
}

.exitBtn {
  align-self: end;
  margin-right: 20px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  /* background-color: rgba(0, 0, 0, 0.75); */
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  /* top: 20vh;
  left: 5%;
  width: 90%; */
  bottom: 1vh;
  left: 2.5%;
  width: 95%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal > * {
  display: inline;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
